<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.karim.applicationfacteur">


    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />


    <application
        android:name=".AgencyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBDSLveaXJsR_T1pPfG7H1Z2RlevYbLgoI" />

        <activity
            android:name=".ui.main.QRcode"
            android:configChanges="orientation|screenSize"
            android:label="CODE 2D"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.myActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.Testt"
            android:configChanges="orientation|screenSize"
            android:label="CODE 2D"
            android:screenOrientation="portrait"></activity>


        -
        <activity
            android:name=".ui.main.SplashScreen"
            android:configChanges="orientation|screenSize"
            android:label="Facteur"
            android:screenOrientation="portrait">
            -
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>


        <receiver android:name=".ui.main.ActionReceiver"></receiver>

        <activity
            android:name=".ui.main.Loading"
            android:configChanges="orientation|screenSize"
            android:label="Raison"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.main.Loading1"
            android:configChanges="orientation|screenSize"
            android:label="Accueil"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.main.LogonActivity"
            android:configChanges="orientation|screenSize"
            android:label="Authentification"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.main.Deconnexion"
            android:configChanges="orientation|screenSize"
            android:label="Authentification"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.online.AgencyListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.online.AgencyActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.Journee"
            android:configChanges="orientation|screenSize"
            android:label="Ma journée"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.online.AgencyActivity1"
            android:configChanges="orientation|screenSize"
            android:label="Détails Article"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.online.AgencyActivity2"
            android:configChanges="orientation|screenSize"
            android:label="Détails Article"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.Scann"
            android:configChanges="orientation|screenSize"
            android:label="Créer DNL"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.Scanpda"
            android:configChanges="orientation|screenSize"
            android:label="Créer DNL"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.Scann3"
            android:configChanges="orientation|screenSize"
            android:label="Vérification envoi"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.Scann2"
            android:configChanges="orientation|screenSize"
            android:label="Traiter lot"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.online.AgencyListActivity1"
            android:configChanges="orientation|screenSize"
            android:label="DNL"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.Acceuil"
            android:configChanges="orientation|screenSize"
            android:label="Acceuil"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.Acceuil1"
            android:configChanges="orientation|screenSize"
            android:label="Accueil"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.Livraison_entrep"
            android:configChanges="orientation|screenSize"
            android:label="Livraison entreprise"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.Livraison_part"
            android:configChanges="orientation|screenSize"
            android:label="Livraison particulier"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.Livraison_entrep1"
            android:configChanges="orientation|screenSize"
            android:label="Livraison entreprise"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.Livraison_part1"
            android:configChanges="orientation|screenSize"
            android:label="Livraison particulier"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.online.AgencyListActivity2"
            android:configChanges="orientation|screenSize"
            android:label="List Envoi"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.Raison"
            android:configChanges="orientation|screenSize"
            android:label="Raison"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.Raison1"
            android:configChanges="orientation|screenSize"
            android:label="Raison"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.MapsActivity"
            android:configChanges="orientation|screenSize"
            android:label="List Envoi"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.online.Scangrp"
            android:configChanges="orientation|screenSize"
            android:label="DNL"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.Avise"
            android:configChanges="orientation|screenSize"
            android:label="Avisé"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.main.Avise1"
            android:configChanges="orientation|screenSize"
            android:label="Avisé"
            android:screenOrientation="portrait" />

        -
        <activity
            android:name=".ui.main.SignatureActivity"
            android:configChanges="orientation|screenSize"
            android:label="Facteur"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.online.CollecteListActivity"
            android:configChanges="orientation|screenSize"
            android:label="Feuille de route"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.online.CollecteActivity"
            android:configChanges="orientation|screenSize"
            android:label="Detail Collecte"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.online.CollecteTraitmActivity"
            android:configChanges="orientation|screenSize"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.CreerCollecte"
            android:configChanges="orientation|screenSize"
            android:label="Creation de la collecte"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.QRcollecte"
            android:configChanges="orientation|screenSize"
            android:label="CODE 2D"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.QRcollecelist"
            android:configChanges="orientation|screenSize"
            android:label="CODE 2D"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.main.QRcollecte1"
            android:configChanges="orientation|screenSize"
            android:label="CODE 2D"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.online.QRcollectelist1"
            android:configChanges="orientation|screenSize"
            android:label="Controle 2D"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.Motif_CL"
            android:configChanges="orientation|screenSize"
            android:label="Collecte Non Traité"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.online.QRcollecteliv"
            android:configChanges="orientation|screenSize"
            android:label="2D"
            android:screenOrientation="portrait" />


    </application>


</manifest>